.upper-footer{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1.5px solid #f5a023;
}


.footer-img-lower{
    margin-right: 5rem;
}

.cobra-img{
    padding-left: 3rem;
}

.lower-footer{
    padding-top: 3rem;
}

.footer-img-galaxy{
    margin-top: auto;
    margin-bottom: auto;
}

.acm{
    margin-top: auto;
    margin-bottom: auto;
}